.contact{
    margin: 50px 0;
    text-align: center;
}

.contact h2{
    font-size: 36px;
    margin: 15px 0;
}

.contact p{
    font-size: 22px;
    color: #212529;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 700px;
  margin: 50px auto;
  padding: 40px 20px;
}

.name-fields {
  display: flex;
  gap: 15px;
}

.name-fields input {
  flex: 1;
}

.contact-form input, .contact-form textarea {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #333;
}
