.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: white;
    background: linear-gradient(135deg, #2E3192, #1Bffff);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right div {
    margin: 0 20px;
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: 500;
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -6px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        text-align: center;
    }

    .navbar-left h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .navbar-right {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-right div {
        margin: 5px 0;
    }

    .navbar a {
        font-size: 16px;
    }
}